In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [55]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [22]:
#Loading orginal dataframe 
data = pd.read_csv('kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [8]:
#Viewing the shape and size of the dataframe
data.shape

(21597, 21)

In [9]:
#Viewing columns
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [13]:
#Viewing the descriptive statistics of the dataset
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [14]:
#Checking for null values
data.isnull()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
21568,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21569,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21570,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21571,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21572,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21573,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21574,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
21576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
21577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
21578,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
21579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
21580,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21581,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
21582,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
21583,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
21584,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21585,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21586,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
21587,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
21588,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21589,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
21590,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21591,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21592,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21593,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21594,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21595,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
21596,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
#creating dataframe with selected features for exploration
data = data[['bedrooms', 'bathrooms', 'floors', 'yr_built', 'date', 'price']]
data.head()

   bedrooms  bathrooms  floors  yr_built        date     price
0         3       1.00     1.0      1955  10/13/2014  221900.0
1         3       2.25     2.0      1951   12/9/2014  538000.0
2         2       1.00     1.0      1933   2/25/2015  180000.0
3         4       3.00     1.0      1965   12/9/2014  604000.0
4         3       2.00     1.0      1987   2/18/2015  510000.0

In [19]:
#Viewing the shape and size of the dataframe
data.shape

(21597, 6)

In [21]:
#Checking for null values
data.isnull().count()

bedrooms     21597
bathrooms    21597
floors       21597
yr_built     21597
date         21597
price        21597
dtype: int64

In [32]:
dates = pd.to_datetime(data['date'])

In [33]:
dates

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
5       2014-05-12
6       2014-06-27
7       2015-01-15
8       2015-04-15
9       2015-03-12
10      2015-04-03
11      2014-05-27
12      2014-05-28
13      2014-10-07
14      2015-03-12
15      2015-01-24
16      2014-07-31
17      2014-05-29
18      2014-12-05
19      2015-04-24
20      2014-05-14
21      2014-08-26
22      2014-07-03
23      2014-05-16
24      2014-11-20
25      2014-11-03
26      2014-06-26
27      2014-12-01
28      2014-06-24
29      2015-03-02
           ...
21567   2014-06-10
21568   2014-12-02
21569   2014-08-28
21570   2014-10-15
21571   2015-03-05
21572   2014-11-13
21573   2014-09-10
21574   2014-05-14
21575   2014-10-02
21576   2015-04-16
21577   2015-03-17
21578   2014-10-17
21579   2014-10-31
21580   2014-08-13
21581   2015-04-21
21582   2014-10-13
21583   2014-09-15
21584   2014-10-15
21585   2015-04-07
21586   2014-06-26
21587   2014-08-25
21588   2015-01-26
21589   2014-10-14
21590   2015-03-26
21591   2015-02-19
21592   2014-05-21
21593   2015-02-23
21594   2014-06-23
21595   2015-01-16
21596   2014-10-15
Name: date, Length: 21597, dtype: datetime64[ns]

In [44]:
data['date'] = pd.to_datetime(data['date'])

In [45]:
data.head()

   bedrooms  bathrooms  floors  yr_built       date     price      dates
0         3       1.00     1.0      1955 2014-10-13  221900.0 2014-10-13
1         3       2.25     2.0      1951 2014-12-09  538000.0 2014-12-09
2         2       1.00     1.0      1933 2015-02-25  180000.0 2015-02-25
3         4       3.00     1.0      1965 2014-12-09  604000.0 2014-12-09
4         3       2.00     1.0      1987 2015-02-18  510000.0 2015-02-18

In [48]:
data = data.drop('dates', axis = 1)

In [54]:
data.head()

   bedrooms  bathrooms  floors  yr_built       date     price
0         3       1.00     1.0      1955 2014-10-13  221900.0
1         3       2.25     2.0      1951 2014-12-09  538000.0
2         2       1.00     1.0      1933 2015-02-25  180000.0
3         4       3.00     1.0      1965 2014-12-09  604000.0
4         3       2.00     1.0      1987 2015-02-18  510000.0

In [60]:
data['price']

0         221900.0
1         538000.0
2         180000.0
3         604000.0
4         510000.0
5        1230000.0
6         257500.0
7         291850.0
8         229500.0
9         323000.0
10        662500.0
11        468000.0
12        310000.0
13        400000.0
14        530000.0
15        650000.0
16        395000.0
17        485000.0
18        189000.0
19        230000.0
20        385000.0
21       2000000.0
22        285000.0
23        252700.0
24        329000.0
25        233000.0
26        937000.0
27        667000.0
28        438000.0
29        719000.0
           ...
21567     399950.0
21568     380000.0
21569     270000.0
21570     505000.0
21571     385000.0
21572     414500.0
21573     347500.0
21574    1220000.0
21575     572000.0
21576     475000.0
21577    1090000.0
21578     350000.0
21579     520000.0
21580     679950.0
21581    1580000.0
21582     541800.0
21583     810000.0
21584    1540000.0
21585     467000.0
21586     224000.0
21587     507250.0
21588     429000.0
21589     610685.0
21590    1010000.0
21591     475000.0
21592     360000.0
21593     400000.0
21594     402101.0
21595     400000.0
21596     325000.0
Name: price, Length: 21597, dtype: float64

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 6 columns):
bedrooms     21597 non-null int64
bathrooms    21597 non-null float64
floors       21597 non-null float64
yr_built     21597 non-null int64
date         21597 non-null datetime64[ns]
price        21597 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(2)
memory usage: 1012.4 KB